<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Usee后台管理</title>
        <link  href="style/demo.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="manager">
          <div class="bt">
            <button type="button" name="button" v-on:click="updateNowtype(1)">1</button>
           <button type="button" name="button" v-on:click="updateNowtype(2)">2</button>
           <button type="button" name="button" v-on:click="updateNowtype(3)">3</button>
           <button type="button" name="button" v-on:click="updateNowtype(4)">4</button>
           <button type="button" name="button" v-on:click="updateNowtype(5)">5</button>
           <button type="button" name="button" v-on:click="updateNowtype(6)">6</button>
           <button type="button" name="button" v-on:click="updateNowtype(7)">7</button>
           <button type="button" name="button" v-on:click="updateNowtype(8)">8</button>
           <button type="button" name="button" v-on:click="updateNowtype(9)">9</button>
          </div>
          选择类型：

         <div id = "topic">
           <ul v-for="topic in topic">
             <li><b>title：{{ topic.title }}</b>
               <br>弹幕数：{{ topic.danmuNum }}<br>
               描述：{{ topic.description }}<br>
               <br></li>
               <button type="button" name="button" v-on:click="updateNowtopic(topic)">选择</button>
           </ul>
         </div>

         <div class="danmu">
           <ul v-for="danmu in danmu">
             <li><br>评论数：{{ danmu.commentnum }}<br>
               描述：{{ danmu.messages }}<br>
               </li>
               <button type="button" name="button" v-on:click="deleteDanmu(danmu)">删除</button>
           </ul>
         </div>

          ------------------
          <li>{{ danmu }}</li>
          --------------------------------------------



        </div>
        <script src="js/vue.js"></script>
        <script>
          //var USee = "http://114.215.209.102/USee/";
          var USee = "http://localhost:8080/server2.0/";
            var vm = new Vue({
                el: '#manager',
                data: {
                    type: [1,2,3,4,5,6,7,8,9],
                    nowType: 0,//默认类型选项  无意义
                    nowTopic: 0, //默认第0个话题 无意义
                    topic: [],
                    danmu: []
                },
                watch: {
                  nowType: function(){
                                  var xmlhttp;
                                  if (window.XMLHttpRequest)
                                  {
                                      //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                                      xmlhttp=new XMLHttpRequest();
                                  }
                                  else
                                  {
                                      // IE6, IE5 浏览器执行代码
                                      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                                  }

                                  xmlhttp.onreadystatechange = function  () {
                                      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                        vm.topic = [];
                                        //eval('(' + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ')');
                                        //  this.topic = eval("(" + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ")");
                                          var tag = xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1).split(/\{|\}/);
                                          for (var i = 1; i < tag.length; i=i+2) {
                                            vm.topic.push(JSON.parse("{"+tag[i]+"}"));
                                      }
                                        vm.nowTopic = vm.topic[0].id;
                                          //document.createElement("img");
                                      }

                                      // body...
                                  }
                                  xmlhttp.open("POST",USee+"gettopicsbytype",true);
                                  xmlhttp.setRequestHeader("Content-type","application/json");
                                  xmlhttp.send('{"typeID":"'+this.nowType+'"}');
                              },
                              nowTopic: function(){
                                              var xmlhttp;
                                              if (window.XMLHttpRequest)
                                              {
                                                  //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                                                  xmlhttp=new XMLHttpRequest();
                                              }
                                              else
                                              {
                                                  // IE6, IE5 浏览器执行代码
                                                  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                                              }

                                              xmlhttp.onreadystatechange = function  () {
                                                  if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                    vm.danmu = [];
                                                    //eval('(' + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ')');
                                                    //  this.topic = eval("(" + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ")");
                                                      var tag = xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1).split(/\{|\}/);
                                                      for (var i = 1; i < tag.length; i=i+2) {
                                                        vm.danmu.push(JSON.parse("{"+tag[i]+"}"));
                                                  }
                                                      //document.createElement("img");
                                                  }
                                                  // body...
                                              }
                                              xmlhttp.open("POST",USee+"getdmbytopic",true);
                                              xmlhttp.setRequestHeader("Content-type","application/json");
                                              xmlhttp.send('{"topicid":"'+this.nowTopic+'"}');
                                          }
                },
                methods:{
                  updateNowtype: function(i){
                    this.nowType = i;
                  },
                  //delete
                  updateNowtopic: function(topic){
                    this.nowTopic = topic.id;
                  },

                  deleteDanmu: function(danmu){
                    var index = $.inArray(danmu,this.danmu);
                    if(index>=0){
                      this.danmu.splice(index,1);
                    }

                            var xmlhttp;
                            if (window.XMLHttpRequest)
                            {
                                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                                xmlhttp=new XMLHttpRequest();
                            }
                            else
                            {
                                // IE6, IE5 浏览器执行代码
                                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                            }

                            xmlhttp.onreadystatechange = function  () {
                                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                  alert("成功");
                                  // vm.topic = [];
                                  // //eval('(' + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ')');
                                  // //  this.topic = eval("(" + xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1) + ")");
                                  //   var tag = xmlhttp.responseText.slice(10,xmlhttp.responseText.length-1).split(/\{|\}/);
                                  //   for (var i = 1; i < tag.length; i=i+2) {
                                  //     vm.topic.push(JSON.parse("{"+tag[i]+"}"));

                                    //document.createElement("img");
                                  }

                                // body...
                            }
                            xmlhttp.open("POST",USee+"deletedanmu",true);
                            xmlhttp.setRequestHeader("Content-type","application/json");
                            xmlhttp.send('{"userID":"'+danmu.userId+'","danmuID":"'+danmu.id+'"}');

                  }
                }
            })

            // $("body").click(vm.updateTopic);
            vm.nowType =1;
            //vm.nowTopic = 1;
        </script>

    </body>

</html>
